<h1><%= @movie.title %></h1>

<p><%= @movie.body %></p>


<ul>
  <li><%= link_to "Edit", edit_movie_path(@movie) %></li>
  <li><%= link_to "Destroy", movie_path(@movie), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %></li>
</ul>

<h2>Reviews</h2>
<%= render @movie.reviews %>

<h2>Add a review:</h2>
<%= render 'reviews/form' %>

<li><%= link_to "Home", movies_path %></li>
